@model Insurancesystem.ViewModel.Userlogin

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h1 style="margin-left:100px">Login</h1>
        <hr />
        
        <div class="form-group">
            @if (TempData["Message"] != null)
            { 
            <p style="margin-left:30px;color:red;">@TempData["Message"]</p>
            }
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" id="log-on" class="btn btn-default" />
                <div style="padding:20px;">
                    @Html.ActionLink("Forgot Password", "Error")
                </div>
            </div>
        </div>
    </div>
}

