@model IEnumerable<Insurancesystem.Models.Car>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModeOfUse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarRegisternumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USER.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModeOfUse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarRegisternumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarID })
        </td>
    </tr>
}

</table>
