<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Insurance</title>
    <link rel="stylesheet" href="~/Content/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet">
</head>
<body>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Insurance Company", "Index", "Insurance", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Insurance")</li>
                <li>@Html.ActionLink("About", "About", "Insurance")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Insurance")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Service
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Insurance/carinformation">Car Insurance</a></li>
                        <li><a href="/Insurance/motorinformation">Motor Insurance</a></li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Claim", "Claiminsurance", "Insurance")</li>
                <li>@Html.ActionLink("MyDetial", "MyDetails", "Insurance")</li>
            </ul>
            <ul class="loginprofile" id="loginprofile">
                <li id="login">
                    @Html.ActionLink("Login", "LoginMe", "Insurance", new { @id = "a-login" })
                    <i class="fa fa-users"></i>
                </li>

            </ul>
        </div>

    </nav>
    <img id="logo" src="~/Content/image/logo.png" alt="logo.pgn" class="animated heartBeat" />
    @RenderBody()
    @RenderSection("scripts", required: false)
    <!-- Footer -->
    <footer class="page-footer font-small cyan darken-3">

        <!-- Footer Elements -->
        <div class="container">

            <!-- Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 py-5">
                    <div class="mb-5 flex-center">

                        <!-- Facebook -->
                        <a class="fb-ic" href="https://www.facebook.com/">
                            <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic" href="https://www.facebook.com/">
                            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic" href="https://www.facebook.com/">
                            <i class="fa fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic" href="https://www.facebook.com/">
                            <i class="fa fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic" href="https://www.facebook.com/">
                            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Pinterest-->
                        <a class="pin-ic" href="https://www.facebook.com/">
                            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
        <!-- Footer Elements -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Scripts/Script.js"></script>
    <script src="~/Scripts/jQuery.js"></script>
</body>
</html>